p {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

#rival-data, form {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: -180px;
}

#rival-data-form button {
  margin-left: 40px;
  margin-top: -15px;
  position: absolute;
}

#rival_point,
#player_point {
  display: none;
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  width: 10px;
  height: 10px;
  z-index: 1000;
  border-radius: 5px;
}

#player_point {
  background-color: #e67e22;
}

#rival_point {
  background-color: #3498db;
}

body {
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}

img {
  display:none;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 60pt;
  line-height: 50pt;
  font-weight: 400;
  text-decoration: underline;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 25pt;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  margin-top: 10px;
}

.header-wrap {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

.wrap {
  display: table;
  width: 100%;
  vertical-align: middle;
  top: 50%;
  margin-top: 0;
  background-color: lightblue;
  background: linear-gradient(270deg,
    #1de4b1, #1de46b, #87ee11, #d5ee11,
    #eec211, #ea944d, #ea634d, #ea4d6e,
    #e25aa7, #c023e2, #3e59ec, #3eb5ec);
  background-size: 2400% 2400%;

  -webkit-animation: BackgroundGradient 40s ease infinite;
  -moz-animation: BackgroundGradient 40s ease infinite;
  animation: BackgroundGradient 40s ease infinite;
}

.game {
  height: 550px;
  display: table-row;
}

@-webkit-keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

#wait-message {
  color: #fff;
  font-size: 30px;
  /* height: 300px; */
}

.labyrinthe {
  height: 550px;
  width: 322px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

  /* border: 5px solid yellow; */
}

.infopanel {
  min-width: 250px;
  display: table-cell;
  text-align: center;
  vertical-align: top;
  color: white;
  padding-top: 20px;

  /* border: 3px solid blue; */
}

.compte {
  display: block;
  margin-top: 50px;
  font-size: 70pt;
  font-weight: 800;
}

.compte-souligne {
  display: block;
  text-transform: uppercase;
  font-size: 16pt;
}

.progress-bar {
  margin: auto;
  margin-top: 62px;
  display: block;
  height: 3px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.cur-progess-line {
  height: 3px;
  width: 0%;
  background-color: rgba(255, 255, 255, 1);
}

canvas {
  text-align: center;
}

.btn-wrap {
  display: block;
  margin: auto;
  line-height: 150px;
  text-align: center;
}

button {
  font-size: 18pt;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  font-weight: 600;
  border: 3px solid black;
  background-color: transparent;
  transition: all 0.05s ease-out 0.05s;
  position: static;
}

button:hover,
button:active {
  cursor: pointer;
  padding-left: 33px;
  padding-right: 33px;
  height: 56px;
}

button:active {
  color: #ea634d;
}

.control-buttons {
  display: table;
  margin: auto;
  margin-top: 40px;
  border-spacing: 5px;
}

.ctrl-btn-row {
  display: table-row;
  height: 30px;
}

.ctrl-btn {
  display: table-cell;
  /* border: 2px solid black; */
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.5);
}

.ctrl-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.ctrl-btn-hidden {
  height: 40px;
  width: 40px;
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: default;
}

#btnup::before {
  content: '↑';
}

#btnleft::before {
  content: '←';
}

#btndown::before {
  content: '↓';
}

#btnright::before {
  content: '→';
}

.copyright {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.copyright span {
  display: block;
  font-size: 10pt;
  text-align: center;
  color: #808080;
}
