body {
  overflow-x: hidden;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* Header Style */

.header {
  font-size: 80px;
  line-height: 120px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

/* Game Wrap Style */

.game {
  display: table-row;
}

.game__wrap {
  display: table;
  width: 100%;
  /* vertical-align: middle; */

  background-color: lightblue;
  background: linear-gradient(270deg,
    #1de4b1, #1de46b, #87ee11, #d5ee11,
    #eec211, #ea944d, #ea634d, #ea4d6e,
    #e25aa7, #c023e2, #3e59ec, #3eb5ec);
  background-size: 2400% 2400%;

  -webkit-animation: BackgroundGradient 40s ease infinite;
  -moz-animation: BackgroundGradient 40s ease infinite;
  animation: BackgroundGradient 40s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}
@keyframes BackgroundGradient {
   0%{background-position:0% 50%}
   50%{background-position:100% 50%}
   100%{background-position:0% 50%}
}

/* Infopanel Style */

.game__infopanel {
  display: table-cell;
  min-width: 250px;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
}

.game__player-number {
  font-size: 25pt;
  font-weight: 600;
}

.game__player-name {
  font-size: 16pt;
  font-weight: 400;
}

.game__player-score {
  display: block;
  margin-top: 50px;
  font-size: 70pt;
  font-weight: 800;
}

.game__player-score-text {
  font-size: 16pt;
  text-transform: uppercase;
}

.game__progress-bar {
  width: 50%;
  height: 3px;
  margin: auto;
  margin-top: 62px;
  background-color: rgba(255, 255, 255, 0.3);
}

.game__current-progress {
  height: 3px;
  width: 0%;
  background-color: rgba(255, 255, 255, 1);
}

/* Maze Style */

.game__maze {
  display: table-cell;
  height: 550px;
  width: 322px;
  vertical-align: middle;
  text-align: center;
}

.game__message {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.game__player-point {
  position: absolute;
  z-index: 1000;
  display: none;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 5px;
}

#game__player-point--player {
  background-color: #e67e22;
}

#game__player-point--rival {
  background-color: #3498db;
}

#game__canvas {
  text-align: center;
}

.game__control-buttons {
  display: table;
  margin: auto;
  margin-top: 40px;
  border-spacing: 5px;
}

.game__control-buttons-row {
  display: table-row;
  height: 30px;
}

.game__control-button {
    display: table-cell;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
}

.game__control-button:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#game__control-button--up::before {
  content: "↑";
}

#game__control-button--left::before {
  content: "←";
}

#game__control-button--down::before {
  content: "↓";
}

#game__control-button--right::before {
  content: "→";
}

/* Control Panel Style */

.control-panel {
  line-height: 150px;
  text-align: center;
}

.control-panel__button {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18pt;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid #000000;
  transition: all 0.05s ease-out 0.05s;
  position: static;
}

.control-panel__button:hover,
.control-panel__button:active {
  height: 56px;
  padding-left: 33px;
  padding-right: 33px;
  cursor: pointer;
}

.control-panel__button:active {
  color: #ea634d;
}

/* Copyright Style */

.copyright {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.copyright__message {
  font-size: 10pt;
  text-align: center;
  color: #808080;
}
